body{
	margin:0px;

}

/*oNE PAGE BUSINESS THEME*/

#sec01{
	background-image: url(../images/bg-demo.jpg);	
	padding-left:0px !important;
	padding-right:0px !important;
	width:100vw;
	height:100vh;
	background-size:cover;
}
.topNav{
    margin-left:-15px;
    margin-right:-15px; 
	height:90px;	
	background-color: rgba(0, 0, 255, 0.1);
	border-bottom:1px solid white;
	box-sizing:border box;

}
.topNav{
	padding: 10px 50px;
}
#sec01 h1{
	float:left;
	color:white;

}
#sec01 ul{
	float:right;
}
#sec01 ul li {
	float:left;
	padding:30px 10px;
	color:white;
	list-style: none;
	margin-bottom: 10px;	
}
#sec01 ul li a{
	text-decoration: none;
}
#sec01 ul li span{
	padding:5px;
	
}
#sec01 ul li span:hover{
	
	border-bottom:2px solid aqua;
	color:blue;
}

#sec01 h2{
	margin-top: 100px;
	color:green;
	text-align: center;
	font-size:40px;
}
#sec01 p{	
	color:red;
	text-align: center;
	padding:20px;
	font-size:20px;
}
#sec01 button{
	margin-left:550px;
	
}

/*MAIN BENEFITS*/

#sec02{
	
		width: 100px;
		background: red;
}
#sec02{
		background: lightgray;
		height:600px;
		width:100%;
	    font-family: 'Open Sans', sans-serif;
	    position: relative;
	    text-align: center;
		
}
#sec02 h1{
		text-align:center;
		padding-top:80px;
		font-family:'Open Sans', sans-serif;
}
#sec02 span{
	 	height:3px;
	 	width:100px;
	 	background:green;
	 	position:absolute;	
	 	margin-left:-50px;
	 	margin-right:50px; 
}
 #sec02 p{
 		text-align:center;
 		padding-top:30px;
 		margin-bottom:100px; 
}

#sec02 col-md-4 i {
		
}
#sec02 h4{
		margin-top:25px;
}

/*OUR WORK*/

#sec03 .col-md-12 h1 p{
	font-family: 'Open Sans', sans-serif;
		
}
#sec03 .col-md-12 h1{
    margin-left:500px;
	font-size:2em;

}
#sec03 .col-md-12 span{
	 background:green;
	 margin-left:520px;
	 margin-bottom:20px;	 
}
#sec03 .col-md-12 p{
	 margin-left:300px;
	 font-size:1em;
	 padding-bottom:70px;
}
#sec03 .col-md-6 p{
		display:inline-block;
		padding:10px;
}
#sec03 .col-md-12 img{
	background-image: url(../images/magazine-image.jpg);
	
}

/*PHOTO GALLERY*/

#sec04 .row h1{
	text-align: center;
	font-family:"Open Sans" sans-serif; 
	margin-bottom: 50px;

}
#sec04 .row span {
	width:100px;
	height:3px;
	margin:650px;
	background:green;	
	position:absolute;	
	margin-top:-40px;
}
#sec04 .row p{
	margin-bottom:30px;
	text-align:center;

}
#sec04 div{
	padding-right: 0px !important;
    padding-left:  0px !important;
}
#sec04 img{
	margin-left: -15px;
	margin-right: -15px;
}

/*PROJECTS SINGLE*/

#sec05 {
	 width:100%;
     height:500px;
     background:white;
}
#sec05 h1 {
	text-align: center;
	margin-top: 50px;
	font-family:'Open Sans', sans-serif;
}
#sec05 span {
	margin-left:50px;
	margin-right:50px; 
	width:100px;
    height:3px;
    background:green;
}
#sec05  p{
	margin-left: 500px;
}
#sec05 .col-md-6 h3{
	margin-left:70px;
	
}
#sec05 .col-md-6 p{
	margin-bottom:20px;
	margin-left:20px;
	padding-left:50px;
}
#sec05 a{
	margin-left: 70px;
}
#sec05 .col-md-6 img{
	float:right;
	padding-right:50px;
}
.container-fluid{
	margin-right: -15px;
	margin-right: -15px;
}